<h2>Change Password</h2>

{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if success %}
<p>{{ success }}</p>
{% endif %}

<form method="POST">

    <p>
        <label>Current Password</label><br>

        <input
            type="password"
            name="current_password"
            required
        >
    </p>

    <p>
        <label>New Password</label><br>

        <input
            type="password"
            name="new_password"
            required
        >
    </p>

    <p>
        <label>Confirm New Password</label><br>

        <input
            type="password"
            name="confirm_password"
            required
        >
    </p>

    <button type="submit">
        Change Password
    </button>

</form>

<br>

<a href="/my-profile">
    Back to Profile
</a>